/* Variables globales */
@import url("./normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Oranienbaum&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Convierte 1rem en base 10px */
    --over-font-size: 62.5%;
    /* Este porcentaje hace el "em/rem" sean base 10px */


    /* Colores base */
    /* Opción #1 */
    --White: #FFFFFF;
    --Perla: #E8EAEB;
    --Cultured: #FAF8F5;
    --Timberwolf: #DFDACF;
    --Grullo: #A3968D;
    --Dark-Puce: #4D403A;
    --Raisin-Black: #262626;
    --Black: #000000;
    /* Opción #2 */
    --Floral-White: #FFFBF4;
    --Pastel-Gray: #D8CFBC;
    --Dark-Liver: #565449;
    --Chinese-Black: #11120D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oranienbaum", serif;
    /* background-color: var(--Perla); */
}

html {
    font-size: var(--over-font-size);
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    /* background-color: var(--White); */
}

.container {
    /* border: 1px dotted blue; */
    box-sizing: border-box;
    margin: 0 auto;
    /**Centra el elemento*/
    max-width: 96vw;
    /**Ancho Máximo*/
    padding: 0 .8rem;
    /**Hace que los bordes queden internos*/
}

.container-fluid {
    /* border: 1px solid orangered; */
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100vw;
    padding: 0;
}

/* ****************************************************************************************************************************************************************************************************************  */
/* HEADER */
header {
    width: 100%;
    position: sticky;
    top: 0;
    /* background-color: var(--Perla); */
}

.imagen-fondo {
    background-image: url("../images/fondo-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 3px solid blue; */
    height: 34.3rem;
    background-position: 0 0;
}

/* MENU (header) */
/*---------------------------------------------------------------*/
.menu {
    /* border: 2px solid brown; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

/* BRAND */
/*-----------------------------------------------------------------------*/
.name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.name-web {
    color: var(--Perla);
    font-size: 700;
    font-size: 3rem;
}

/* ITEMS */
/*-------------------------------------------------------------------------*/
.list {
    color: var(--Dark-Puce);
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.list li a {
    color: var(--Perla);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
}

.list li a:hover {
    color: var(--Raisin-Black);
}


/* Left section  */
/*---------------------------------------------------------------*/
.left {
    /* border: 2px solid green; */
}

/* Right section */
/*---------------------------------------------------------------*/
.right {
    /* border: 2px solid green; */
    display: none;
}


/* ****************************************************************************************************************************************************************************************************************  */
/* MAIN */
.main {
    flex: 1;
}

.container-fincas {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.content-cards {
    display: flex;
    flex-direction:column;
}

.cards {
    display: flex;
    border: 1px solid blue;
    padding: 2rem;
    gap: 10rem;
    height: 35rem;
}

.finca-card-1 {
    border: 2px solid green;
}


.finca-card-2 {
    border: 2px solid green;
}

.finca-card-3 {
    border: 2px solid green;
}




/* ****************************************************************************************************************************************************************************************************************  */
/* ASIDE */

/* ****************************************************************************************************************************************************************************************************************  */
/* FOOTER */

/* ****************************************************************************************************************************************************************************************************************  */
/* Media Queries(Break-Point) (Siempre tienen que ir de último)*/
@media (width > 567px) {
    /*----------------------------------------------------------------------------------------------------------------------------*/

    /** Ahora se cambia la escritura de " min-width: #px " a " width > #px " para Mobile First*/
    /** Y para Desktop First se escribe " width < #px */
    .container {
        max-width: 54rem;
        padding: 0 1.6rem;
        /**Cada uno de estos maneja la distancia entre el contenido y el borde del contenedor. E incrementa en 8px en cada media query*/
    }

    /* HEADER */
    .right {
        display: none;
    }


    /* MAIN */
    /* ASIDE */
    /* FOOTER */
}

@media (width > 768px) {

    /*----------------------------------------------------------------------------------------------------------------------------*/
    .container {
        max-width: 72rem;
        padding: 0 2.4rem;
    }

    /* HEADER */
    .right {
        display: flex;
    }

    /* MAIN */
    /* ASIDE */
    /* FOOTER */
}

@media (width > 1024px) {

    /*----------------------------------------------------------------------------------------------------------------------------*/
    .container {
        max-width: 99.2rem;
        padding: 0 3.2rem;
    }

    /* HEADER */
    /* MAIN */
    /* ASIDE */
    /* FOOTER */
}

@media (width > 1200px) {

    /*----------------------------------------------------------------------------------------------------------------------------*/
    .container {
        max-width: 114rem;
        padding: 0 4rem;
    }

    /* HEADER */
    /* MAIN */
    /* ASIDE */
    /* FOOTER */
}

@media (width > 1400px) {

    /*----------------------------------------------------------------------------------------------------------------------------*/
    .container {
        max-width: 132rem;
        padding: 0 4.8rem;
    }

    /* HEADER */
    /* MAIN */
    /* ASIDE */
    /* FOOTER */
}

@media (width > 1600px) {

    /*----------------------------------------------------------------------------------------------------------------------------*/
    .container {
        max-width: 144rem;
        padding: 0 5.6rem;
    }

    /* HEADER */
    /* MAIN */
    /* ASIDE */
    /* FOOTER */
}

@media (width > 1920px) {

    /*----------------------------------------------------------------------------------------------------------------------------*/
    .container {
        max-width: 160rem;
        padding-left: 0 6.4rem;
    }

    /* HEADER */
    /* MAIN */
    /* ASIDE */
    /* FOOTER */
}